/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    background-color: #f4f4f4;
    color: #ae3030;
}

/* Estilos para el encabezado */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

/* Estilos para el contenido principal */
main {
    padding: 2em;
    background-color: white;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
